form {
  margin: 20px;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid white;
  background-color: black;
  color: white;
}

.addBtn {
  padding: 10px 20px;
  margin: 30px 5px 10px 10px;
  border: 1px solid limegreen;
  background-color: black;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.addBtn:hover {
  background-color: black;
  color: limegreen;
}
